<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
  </head>
  <body>
    <h2>Are you sure you want to delete this course?</h2>

    <p>
      Name: {{ course.course_name }}
    </p>
    <p>
      Description: {{ course.course_description.description }}
    </p>

    <form action="{% url 'course_app:index' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="No" />
    </form>
    <form action="{% url 'course_app:remove' id=id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Yes! I want to delete this" />
    </form>

    <form action="{% url 'log_reg:logout' %}" method="post">
      {% csrf_token %}
      <input type="submit" name="logout" value="Logout">
    </form>


  </body>
</html>
